@tailwind base;
@tailwind components;
@tailwind utilities;

* {
      box-sizing: border-box;
}

body {
      margin: 0;
      padding: 0;
}

svg {
      cursor: pointer;
}

.text-center {
      text-align: -webkit-center;
}

.access-ul-li > ul > li > a:hover {
      color: white !important;
      background-color: #1f1f1f;
      border-radius: 8px;
}