@tailwind base;
@tailwind components;
@tailwind utilities;

* {
      box-sizing: border-box;
}

body {
      margin: 0;
      padding: 0;
}

svg {
      cursor: pointer;
}

.text-center {
      text-align: -webkit-center;
}